main{
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
}


form{
    width: 100%;
    margin-bottom: 12%;

    display:flex;
    flex-direction: column;
    align-items: center;
    
    

    
}

.imput-container{
    width: 100%;
    display: flex;
    justify-content: space-around;

    margin-bottom: 8%;
   
}


label{
    font-weight: bold;
}