@media(max-width: 650px){
    body{
        background-image: url(financial_background_mobile.jpg);
    }

    header{
        max-width: 100%;
    }
    footer{
        max-width: 100%;
    }

    .imput-container{
        display: flex;
        flex-direction: column;
    }
}
